<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_account.css') }}">
    <title>My Chores</title>
</head>
<body>
    <div class="container">
        <div class="top_nav">
            <h1 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:white">Welcome {{user.first_name}}!!!</h1>
            <div class="controls_top_nav">
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </div>
        <div class="chores_section">
            <h3 style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Manage My Chores</h3>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in job %}
                        <tr>
                            <td>{{j.title}}</td>
                            <td>{{j.description}}</td>
                            <td>{{j.location}}</td>
                            <td><a href="/destroy/job/{{j.id}}">Remove</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>
</html>